.selectedFeature {
	font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
	
	/*
	color: white;
	background-color: #008cb0;
	padding: 0 6px 0 3px;
	-o-border-radius: 10px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 3px 7px #adadad;	
	*/ 
}

.normalFeature {
	cursor: pointer;
	vertical-align: middle; 
}

.deselectedFeature {
	color: gray;
	text-decoration: line-through;
	cursor: default;
}

/* 
   Configuration Steps
   ===================
*/

.standardTableStyle {
  text-align: left;
  cursor: pointer;
}

.standardTableStyle td {
  border-style: solid;
  border-width: 1px;
  border-spacing: 0px;
  border-color: gray;
  padding: 5px;
}

.standardHighlight1 {
  cursor: pointer;
  background-color: #008cb0;
  color: white;
}

.standardHighlight1 a {
  text-decoration: underline;
  cursor: pointer;
  background-color: #008cb0;
  color: white;
}

/* first column width */
.standardTableStyle>tbody>tr>td:first-child, 
.standardTableStyle>tbody>th>td:first-child {
	width: 40px;
}

/* second column width */
.standardTableStyle>tbody>tr>td:nth-child(2), 
.standardTableStyle>tbody>th>td:nth-child(2) {
	width: 300px;
}