<div us-spinner="{radius:30, width:8, length: 16}"
	style="position:absolute; top:50%; left: 50%; z-index: 999999;">
</div>

<div ui-layout style="margin-top:45px;">
	
<div ui-layout="{flow : 'column'}" >
<div class="tree" >

	<fm-tree model="model" >
	
</div>
<div>            

<div ui-layout="{flow: 'column'}">
<div class="constraints" >
<div style="margin-top:15px;margin-left:15px;">	

	<fm-constraints constraints="constraints" >

</div>
</div>
		
</div> <!-- /column -->
</div> <!-- /ui-layout -->
